#right-panel {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(199, 216, 255, 0.42);
    height: 100vh;
}

#right-panel-content {
    height: 100vh;
    background-color: #f7f7f7;
    box-shadow: -5px 0px 25px #8e8e8e;
    padding: 40px;
}

#right-panel-close {
    position: absolute;
    left: -20px;
    top: 10px;
}