#right-panel {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(199, 216, 255, 0.42);
    height: 100vh;
}

#right-panel-content {
    height: 100vh;
    background-color: #f7f7f7;
    box-shadow: -5px 0px 25px #8e8e8e;
    padding: 40px;
}

#right-panel-close {
    position: relative;
    left: -55px;
    top: 10px;
}

#contact-delete button {
    color: #ff5a5a;
    font-size: 14px;
}

#contact-delete {
    padding: 0px;
}

.react-datepicker-wrapper {
    width: 100%;
} 
.react-datepicker__input-container input {
    width: 100%;
    padding: .375rem .75rem;    
    border: 1px solid #ced4da;
    border-radius: .25rem;
}